.chatview {
  display: flex;
  flex-direction: column-reverse;
}

.text-message {
  border-radius: 5px;
  border: 1px solid grey;
  padding: 5px;
  background-color: var(--message-color);
}

.text-message-container {
  display: flex;
  margin: 5px 15px;
}

.text-message-container-user {
  flex-direction: row-reverse;
  --message-color: var(--sidebar-background-color);
  text-align: right;
}

.text-message-container-other {
  --message-color: transparent;
}
